body {
  background-color: black;
  color: white;
}

.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
